NYC Taxi Data Pipelines/pl_stg_processing_nyctaxi.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"ProjectWarehouse":{"type":"string"},"ProjectLakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"pl_stg_processing_nyctaxi","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"SP Removing Outlier Dates","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"v_end_date","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"storedProcedureName":"[[stg].[data_cleaning_stg]","storedProcedureParameters":{"end_date":{"value":{"value":"@variables('v_end_date')","type":"Expression"},"type":"Datetime"},"start_date":{"value":{"value":"@concat(variables('v_date'),'-01')","type":"Expression"},"type":"Datetime"}}},"linkedService":{"name":"ProjectWarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"edj7kzipskgupfbr6ilet4uxsq-l3lyqifrafpejcbfeow5cwgxny.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('ProjectWarehouse')]","workspaceId":"2088d75e-01b1-445e-8825-23add158d76e"}}}},{"name":"v_end_date","type":"SetVariable","dependsOn":[{"activity":"Copy to Staging","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"v_end_date","value":{"value":"@addToTime(concat(variables('v_date'), '-01'),1,'Month')","type":"Expression"}}},{"name":"Copy to Staging","type":"Copy","dependsOn":[{"activity":"v_date","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"ProjectLakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"2088d75e-01b1-445e-8825-23add158d76e","artifactId":"[parameters('ProjectLakehouse')]","rootFolder":"Files"}}},"type":"Parquet","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat('yellow_tripdata_', variables('v_date'), '.parquet')","type":"Expression"},"folderPath":"nyctaxi_yellow"},"compressionCodec":"snappy"},"schema":[]}},"sink":{"type":"DataWarehouseSink","preCopyScript":"delete from stg.nyctaxi_yellow","allowCopyCommand":true,"copyCommandSettings":{},"disableMetricsCollection":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"ProjectWarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"edj7kzipskgupfbr6ilet4uxsq-l3lyqifrafpejcbfeow5cwgxny.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('ProjectWarehouse')]","workspaceId":"2088d75e-01b1-445e-8825-23add158d76e"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"stg","table":"nyctaxi_yellow"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"SP Loading Staging Metadata","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"SP Removing Outlier Dates","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"storedProcedureName":"[[metadata].[insert_staging_metadata]","storedProcedureParameters":{"pipeline_run_id":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"String"},"processed_date":{"value":{"value":"@pipeline().TriggerTime","type":"Expression"},"type":"Datetime"},"table_name":{"value":"staging_nyctaxi_yellow","type":"String"}}},"linkedService":{"name":"ProjectWarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"edj7kzipskgupfbr6ilet4uxsq-l3lyqifrafpejcbfeow5cwgxny.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('ProjectWarehouse')]","workspaceId":"2088d75e-01b1-445e-8825-23add158d76e"}}}},{"name":"Latest Processed Date","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"ProjectWarehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"edj7kzipskgupfbr6ilet4uxsq-l3lyqifrafpejcbfeow5cwgxny.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('ProjectWarehouse')]","workspaceId":"2088d75e-01b1-445e-8825-23add158d76e"}}},"typeProperties":{"scripts":[{"type":"Query","text":{"value":"select top 1 \nlatest_processed_pickup \nfrom metadata.processing_log \nwhere table_processed = 'staging_nyctaxi_yellow'\norder by latest_processed_pickup desc;","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"v_date","type":"SetVariable","dependsOn":[{"activity":"Latest Processed Date","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"v_date","value":{"value":"@formatDateTime(addToTime(activity('Latest Processed Date').output.resultSets[0].rows[0].latest_processed_pickup, 1, 'Month'), 'yyyy-MM')","type":"Expression"}}}],"variables":{"v_date":{"type":"String","defaultValue":"2024-01"},"v_end_date":{"type":"String"}},"lastModifiedByObjectId":"e998ba93-bd45-4764-8618-020909f94859","lastPublishTime":"2025-06-30T21:11:49Z"},"dependsOn":[]}]}